{% assign block_background = include.block.background | default: "none" %}
{% assign block_background_mode = include.block.background_mode | default: "block" %}

<section class="content-block content-block--bg-{{ block_background }} content-block--bg-{{ block_background_mode }}">
  {% if include.block.title %}
    <h2>{{ include.block.title }}</h2>
  {% endif %}
  {% if include.block.content %}
    <div class="prose page-cards-intro">
      {{ include.block.content | markdownify }}
    </div>
  {% endif %}

  {% include blocks/page-card-grid.html block=include.block %}
</section>
